# Firebase API Keys
# Copiez ce fichier en .env et remplacez avec vos vraies clés
API_KEY_BROWSER=votre_cle_api_browser
API_KEY_ANDROID=votre_cle_api_android
API_KEY_IOS=votre_cle_api_ios
API_KEY_MACOS=votre_cle_api_macos
API_KEY_WINDOWS=votre_cle_api_windows
